<!doctype html>
<html lang="de">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/style.css">

    <title>Crime in Berlin</title>

    <script src="d3/d3.min.js"></script>
    
  </head>
  <body>
    
    {% include "../partial/header.html" %}
    {% include "../partial/about.html" %}
    {# {% include "../partial/footer.html" %} #}

    <script src="jquery/jquery.min.js"></script>
    <script src="popper/umd/popper.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>