/* Center the MAP-SVG */
body>svg {
    display: block;
    margin: auto;
}

div.tooltip {
    color: #222;
    background-color: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    opacity: 0.9;
    position: absolute;
}

.selected {
    fill: #6c757d !important;
}

.unselected {
    fill: #343a40 !important;
}

.unselected:hover {
    fill: rgb(128, 128, 128) !important;
}

.hidden {
    display: none;
}

.centered {
    text-align: center;
    margin: auto;
    width: 50%;
}

table {
    font-size: 14px;
}