<div class="container">
    <h1 class="display-1">About this Project</h1>

    <h5 class="display-5">
        <p>This project was created during a <a target="_blank" rel="noopener noreferrer" href="https://www.oszimt.de/">school</a> project about open data in <strong> 2020 </strong></p>
    </h5>


    <dl class="row">
    <dt class="col-sm-3">Author</dt>
    <dd class="col-sm-9">Ignas Kavaliauskas</dd>

    <dt class="col-sm-3">Source</dt>
    <dd class="col-sm-9"><a href="https://github.com/ignasKavaliauskas/opendata-project">GitHub</a></dd>

    <dt class="col-sm-3">Data</dt>
    <dd class="col-sm-9"><a href="https://www.kaggle.com/danilzyryanov/crime-in-berlin-2012-2019">Kaggle.com</a></dd>

    <dt class="col-sm-3">Contact</dt>
    <dd class="col-sm-9"><a href="mailto:ignas.kavali@gmail.com">ignas.kavali@gmail.com</a></dd>
    </dl>

    
    <h1 id="kontakt">Impressum</h1>
    <address>
        <strong>OSZ IMT</strong><br>
        Haarlemer Straße 23-27<br>
        12359 Berlin<br>
        <abbr>Email</abbr> <a href="mailto:webgroup@oszimt.de">webgroup@oszimt.de</a>
    </address>
    
</div>

