<script src="scripts/map.js"></script>

<hr>

<div class="container-fluid">
  <div id="toolbar">
    <div class="form-inline" role="form">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputYearSelection">Year</label>
      </div>
      <select class="custom-select" id="inputYearSelection">
        <option selected value="all">2012-2019</option>
        {% for year in years %}
          <option id="{{ year }}" value="{{ year }}">{{ year }}</option>
        {% endfor %}
      </select>
    </div>

  </div>

  <table
        id="table"
        data-toolbar="#toolbar"
        data-toggle="table"
        data-flat="true"
        data-search="true"
        data-pagination="true"
        data-search-time-out="100"
        data-show-columns="true"
        data-buttons-align="right"
        data-show-fullscreen="true"
        data-show-pagination-switch="true"
        data-show-footer="true"
        >
    <thead>
      <tr>
        {% for entry in header %}
          <th 
            data-field="{{entry}}"
            data-footer-formatter="{% if entry in ['Location', 'District'] %}{% elif entry == 'Year' %}yearFormatter{% else %}sumFormatter{% endif %}"
            data-sortable="true" 
            data-visible="true" 
            >

            {{entry}}</th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>

      {% for data in tableData %}
        <tr>
          {% for d, i in data %}
            <td>
              {{i}}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>

</script>