<script src="scripts/map.js"></script>

<hr>

<div class="centered filter-options">
  {# <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Year
    </button>
  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
    {% for year in years %}
      <button id="{{ year }}" class="dropdown-item btn btn-dark">{{ year }}</button>
    {% endfor %}

  </div> #}

  {# <select class="form-control">
    {% for year in years %}
      <option id="{{ year }}" value="{{ year }}">{{ year }}</option>
    {% endfor %}
  </select> #}

  {# <button type="button" class="btn btn-outline-dark">Dark</button>
  <button type="button" class="btn btn-outline-dark">Dark</button>
  <button type="button" class="btn btn-outline-dark">Dark</button>
  <button type="button" class="btn btn-outline-dark">Dark</button>
  <button type="button" class="btn btn-outline-dark">Dark</button>
  <button type="button" class="btn btn-outline-dark">Dark</button>
  <button type="button" class="btn btn-outline-dark">Dark</button>
  <button type="button" class="btn btn-outline-dark">Dark</button> #}

</div>

<div class="container">
  <table
      id="table"
      data-toggle="table"
      data-flat="true"
      data-search="true"
      data-pagination="true"
      data-search-time-out="100">
    <thead>
      <tr>
        {% for entry in header %}
          <th data-sortable="true">{{entry}}</th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>
      
        {% for data in tableData %}
          <tr>
            {% for d, i in data %}
              <td> {{i}} </td>
            {% endfor %}
          </tr>
        {% endfor %}
      

      {# <tr id="tr-id-2" class="tr-class-2">
        <td id="td-id-2" class="td-class-2">
          <a href="https://github.com/wenzhixin/multiple-select" target="_blank">multiple-select</a>
        </td>
        <td>1615</td>
        <td>623</td>
        <td>A jQuery plugin to select multiple elements with checkboxes :)
        </td>
      </tr> #}

    </tbody>
  </table>
</div>